#task-img {
    max-width: 80vw;
    max-height: 45vh;
    margin: auto;
    display: block;
    padding-bottom: 4%;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: top;
    padding: 50px;
    gap: 25px;
}

#task-pane {
    flex: 1;
    border-right: 0.5px solid gray;
}

#task-pane > p {
    margin: 10px;
}

Metadata {
    padding-left: 20px;
    flex: 1
}

.question {
    display: flex;
    flex-direction: row;
}

#questions {
    margin: 5px;
}

#questions > div {
    padding: 5px;
}

#footer {
    display: flex;
    align-items: center;
}

#progressBar {
    flex-grow: 1;
    height: 1px;
}

.nav-buttons {
    justify-content: flex-end;
    width: fit-content;
    margin-left: 2vw;
}

#prev, #next {
    flex-grow: 0;
}

.task {
    padding: 2.5%;
}